PORT=5000
JWT_SECRET=super_secret_jwt_key_umkm_gowa_2026

# SQLite Database Connection (Default)
DATABASE_URL="file:./dev.db"

# MySQL Database Connection (Production)
# DATABASE_URL="mysql://root:password@localhost:3306/inventory_gowa"
